extends ./layout/index
block slider 
  .slider   
    h1 Rio de Janeiro 
    em aventura 

block contenido
  main.container.mt-5 
    h2.text-center.mb-5 Sobre Nosotros 
    .row.mb-5 
      .col-md-6
        p Pellentesque odio massa, cursus sed justo at, volutpat lacinia purus. Proin vitae dapibus nulla. Integer in lectus sed justo consectetur porta at molestie leo. Praesent in tortor non ipsum tempus mollis. Aenean luctus purus sed sapien efficitur, sit amet rhoncus ex tempus. Aenean quis massa hendrerit, blandit lectus id, pretium ex. Vivamus viverra laoreet aliquam. Sed ultricies quis eros sed tincidunt. Curabitur condimentum blandit sem ac malesuada.
        p Pellentesque odio massa, cursus sed justo at, volutpat lacinia purus. Proin vitae dapibus nulla. Integer in lectus sed justo consectetur porta at molestie leo. Praesent in tortor non ipsum tempus mollis. Aenean luctus purus sed sapien efficitur, sit amet rhoncus ex tempus. Aenean quis massa hendrerit, blandit lectus id, pretium ex. Vivamus viverra laoreet aliquam. 

      .col-md-6 
        img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" class="img-fluid")


    include ./layout/bloque_viajes

  .descuento
    .container 
      .row 
        .col-md-6 
          .contenido 
            h3 5% de Descuento
            p.titulo Viaje a Canada 
            p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
            p.precio 2000€

  .container 
    h2.mt-5.text-center Testimoniales
    include ./layout/bloque_testimoniales